* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

@font-face {
  font-family: "Outfit";
  src: url("./font/Outfit-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("./font/Poppins-Regular.ttf");
}
@font-face {
  font-family: "DM Sans";
  src: url("./font/DMSans-Regular.ttf");
}
.line {
  width: 100%;
  background-color: #E2E6EE;
  height: 2px;
  margin: 35px 0;
}

a {
  color: #FFFFFF;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #202020;
}

.nav {
  width: 30%;
  background: #323232;
  padding: 60px;
}
.nav_info_me {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.nav_info_me img {
  border-radius: 50%;
  width: 180px;
}
.nav_info_me h2 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding: 20px 0;
}
.nav_info_me p {
  font-family: "Poppins";
  font-size: 22px;
  color: #FFFFFF;
  padding-top: 25px;
  line-height: 40px;
  padding-bottom: 30px;
}
.nav_call {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.nav_call h4 {
  color: #FFFFFF;
  font-family: "DM Sans";
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 1.5px;
}
.nav_call_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.nav_call_box img {
  width: 55px;
}
.nav_call_box div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  font-family: "DM Sans";
  color: #FFFFFF;
  padding-left: 15px;
}
.nav_call_box div h3 {
  font-size: 22px;
  letter-spacing: 1.5px;
}
.nav_call_box div p {
  font-size: 20px;
  font-weight: 500;
}

.box {
  width: 100%;
  color: #E2E6EE;
  border-left: 2px solid white;
  padding: 50px 20px;
  padding-top: 0px;
  margin-top: 10px;
  position: relative;
}
.box::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  top: -15px;
  left: -16px;
}
.box::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  background-color: #5531A7;
  top: -5px;
  left: -6px;
}
.box:last-child {
  padding-bottom: 10px;
}

.section {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0 50px;
}
.section h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  padding: 20px 0;
  font-size: 50px;
  letter-spacing: 2px;
}
.section .work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

h5 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #FFFFFF;
  width: 100%;
  padding-bottom: 50px;
}

.elbakyan {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.elbakyan_main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
}
.elbakyan_main p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  padding-left: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 5px;
}
.elbakyan_main p img {
  width: 20px;
  margin-left: 10px;
}
.elbakyan_main div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.elbakyan_main div img {
  width: 80px;
  border-radius: 5px;
}
.elbakyan_main div ul {
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.elbakyan_main div ul li:first-child {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.elbakyan_main div ul li:last-child {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
}
.elbakyan_text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  width: 60%;
  font-size: 20px;
}

.education {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.education_box {
  width: 50%;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background: #F7F9FC;
  padding: 15px 20px;
  border-radius: 15px 0px 0px 15px;
  transition: 0.5s;
  cursor: pointer;
}
.education_box:last-child {
  border-radius: 0px 15px 15px 0px;
  margin-left: 10px;
}
.education_box:hover {
  background: #b8b7b7;
}
.education_box div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.education_box div img {
  width: 80px;
}
.education_box div p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #202020;
  padding-left: 10px;
}
.education_box ul {
  color: #202020;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.education_box ul li:first-child {
  font-size: 23px;
}
.education_box ul li:last-child {
  font-weight: 400;
  font-size: 20px;
}

.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tools div {
  width: 25%;
  height: 240px;
  background: #F7F9FC;
  padding: 15px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}
.tools div:first-child {
  border-radius: 15px 0px 0px 15px;
  margin: 0;
}
.tools div:last-child {
  border-radius: 0px 15px 15px 0px;
}
.tools div:hover {
  background: #b8b7b7;
}
.tools div img {
  width: 80px;
  margin-bottom: 10px;
}
.tools div img:first-child {
  border-radius: 10px;
}
.tools div h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  color: #202020;
  font-size: 23px;
  text-align: center;
}
.tools div p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  color: #202020;
  font-size: 20px;
  text-align: center;
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.skills_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.skills_box:first-child {
  margin-bottom: 25px;
}
.skills_box h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  color: #E2E6EE;
  font-size: 20px;
  padding-right: 15px;
  width: 25%;
}
.skills_box div {
  background: #F7F9FC;
  padding: 15px 20px;
  color: #202020;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  height: 100px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.5s;
  cursor: pointer;
  margin-left: 8px;
}
.skills_box div:nth-child(2) {
  border-radius: 15px 0px 0px 15px;
  margin: 0;
}
.skills_box div:last-child {
  border-radius: 0px 15px 15px 0px;
}
.skills_box div:hover {
  background: #b8b7b7;
}
.skills_box div ul li {
  list-style: disc;
  color: #202020;
  padding: 5px 0;
}

.hobbi {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.hobbi p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  color: #E2E6EE;
  font-size: 20px;
  display: flex;
  align-items: center;
  border: 2px solid #E2E6EE;
  padding: 5px 10px;
  border-radius: 10px;
}
.hobbi p img {
  width: 60px;
  margin-right: 15px;
}/*# sourceMappingURL=style.css.map */